#cabecalho {
 display: flex;
 background-color: #ddd;
 gap: 12px;
}
.cabecalho-item {
 padding: 12px 8px;
}



#items {
}
.item-box {
 display: flex;
 align-items: center;
 background-color: #fff;
 gap: 12px;
}
.item-box:hover {
 background-color: #eee;
 cursor: pointer;
}
.item {
 padding: 8px;
}
.item-requisicao {
 min-width: 128px;
 width: 128px;
 text-align: center;
 max-width: 128px;
}
.item-centro-custo {
 min-width: 352px;
 width: 352px;
 max-width: 352px;
}
.item-justificativa {
 width: 100%;
}