.navbar-acoes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  padding: 10px 20px;
  border-radius: 8px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.navbar-acoes-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 12px;
 }

 .navbar-acoes-botoes-box {
  display: flex;
  gap: 12px;
 }

 .navbar-acoes-botao {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;;
  border-radius: 6px;
  border: silver 1px solid;
  padding: 4px 8px ; 
 }

 .navbar-acoes-botao:hover {
  background-color: #d0d0d0;
  cursor: pointer;
 }
 
 .navbar-acoes-botao-img {
  width: 32px;
  height: 32px;
 }