header {
 display: flex;
 background-color: #3700CC;
 padding: 6px;
}

.menu-items {
 display: flex;
}

.menu-item {
 display: flex;
 align-items: center;
 gap: 10px;
 padding: 10px;
 color: #fff;

 transition: background-color 0.5s;
}

.menu-item:hover {
 cursor: pointer;
 background-color: #0050EF;
 border-radius: 5px;
}


