#modal-container {
 display: none;
 postion: relative; 
}

#modal-container-fundos {
 position: absolute;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(0,0,0,0.5);

}
#modal-container-frente {
 min-width: 500px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-color: #FFF;
 border-radius: 12px;
 padding: 4px;
 gap: 12px
}
#modal-cabecalho {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 16px;
 font-size: 1.3rem;
 border-bottom: 1px solid #666;
}
#modal-cabecalho-titulo {
 width: 100%;
 user-select: none;
}
#modal-cabecalho-botao-fechar {
 display: inline;
 padding: 8px;
 cursor: pointer;
 text-align: center;
}
#modal-conteudo {
 margin: 8px 16px;
 height: 100%;
}
#modal-botoes-box {
 margin: 8px 16px 16px 16px;
}
#modal-botao {
 padding: 8px;
 border-radius: 8px;
 cursor: pointer;
}
.modal-input-dual-box {
 width: 100%;
 display: flex;
 gap: 32px;
}

#modal-conteudo-box {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 gap: 16px;
}

