/* ################ */
/* COLUNA FLEXIVEIS */
/* ################ */
.g-col-size-128x {
 min-width: 128px;
 width: 128px;
}
.g-col-size-160x {
 min-width: 128px;
 width: 128px;
}
.g-col-size-256x {
 min-width: 128px;
 width: 128px;
}
.g-col-size-320x {
 min-width: 128px;
 width: 128px;
}


/* ################ */
/* GROW             */
/* ################ */
.grow-2 {
 flex-grow: 2;
}
.grow-4 {
 flex-grow: 4;
}
.grow-6 {
 flex-grow: 6;
}


/* ################ */
/* COLUNA FIXAS     */
/* ################ */
.g-col-size-64 {
 min-width: 64px;
 max-width: 64px;
 width: 64px;
}

.g-col-size-80 {
 min-width: 80px;
 max-width: 80px;
 width: 80px;
}

.g-col-size-96 {
 min-width: 96px;
 max-width: 96px;
 width: 96px;
}

.g-col-size-128 {
 min-width: 128px;
 max-width: 128px;
 width: 128px;
}

.g-col-size-160 {
 min-width: 160px;
 max-width: 160px;
 width: 160px;
}

.g-col-size-256 {
 min-width: 256px;
 max-width: 256px;
 width: 256px;
}