#page-title {
  width: 100%;
  max-width: 100%;
  padding: 8px;
  color: #333;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

#table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 16px;
}

#file-table {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 16px;
}

.file-header,
.file-row {
  display: flex;
  padding: 4px 4px;
  border-bottom: 1px solid #ddd;
}

#file-row-empyt {
  width: 100%;
  padding: 32px;
  text-align: center;
}

.file-row:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  cursor: pointer;
}

.file-header {
  background-color: #f3f3f4;
  font-weight: bold;
}

.file-row.selected {
  background-color: #b1ddf0;;
}

.file-column {
  min-width: 128px;
  flex: 1;
  text-align: left;
  padding: 4px;
}

.file-column:nth-child(1){
  min-width: 96px;
}



//*{border:1px solid red;}